<h1 class="page-header">Weather Forecast</h1>

<div class="container-fluid">
	<div class="panel panel-info" style="height: 140px;">
	  <div class="panel-heading">ZIPCODE</div>
	  <div class="panel-body">
	    <div class="row" style="padding-top: 10px;">
    		<div class="col-md-6">
    			<form class="form-inline">
    			  <div class="form-group">
    			    <input type="text"  class="form-control" ng-model="zipcode" id="zipcode"
                     ng-maxlength='maxlength' maxlength="5" placeholder="60626" />
    			  </div>
    			  <button type="submit" class="btn btn-primary" ng-disabled="buttonDisable" ng-click="submitForm()">Get Forecast</button>
    			  <span id='loader' ng-show='showloader'>
    				<img src="images/default.gif">
    			  </span>
    			</form>
    		</div>
    		<div class="col-md-6">
    			<div class="alert alert-warning" ng-show='showErrorMsg' ng-model="errormsg" role="alert">
                    <span class="glyphicon glyphicon-alert" aria-hidden="true" style="margin-right: 2px;"></span>
                        {{errormsg}}
                </div><div class="alert alert-info" ng-show='showInfoMsg' ng-model="infomsg" role="alert">
    				<span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="margin-right: 2px;"></span>
    					{{infomsg}}
    			</div>
    		</div>
    	</div>
	  </div>
	</div>
    <div class="row"></div>
    <div class="row" ng-show="showResult" ng-model='result'>
        <div class="jumbotron" ng-model="weather_information" ng-repeat='obj in weather_information'>
            <div class="row">
                <div class="col-md-5">
                    <div class="thumbnail">
                      <div class="caption">
                        <h3>{{obj.daytitle}}</h3> 
                        
                        <div style="font-size: 50px; font-weight: bold;">
                            {{obj.daytempf}}<span><sup style="font-size: 20px;">F</sup></span>
                            <span><img ng-src={{obj.icon}} alt="..."></span>
                        </div>         
                      </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                      <div class="panel-heading">Day</div>
                      <div class="panel-body">
                        <p style="font-size: 12px;">{{obj.daydescription}}</p> 
                      </div>
                    </div>

                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Night</h3>
                      </div>
                      <div class="panel-body">
                        <p style="font-size: 12px;">{{obj.nightdescription}}</p> 
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>